@model IEnumerable<Album>
@{
    ViewBag.Title = "网易云";
}
<div id="promotion">
</div>

<h3><em>最新地</em> 即兴</h3>

<ul id="album-list">
    @foreach (var album in Model)
    {
        <li><a href="@Url.Action("Details", "Store",
                new { id = album.AlbumId })">

            <img alt="@album.Title" src="@album.AlbumArtUrl" />
            <span>@album.Title</span> </a>
        </li>
    }
</ul>